<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Monster Slayer</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="gameApp">
        <div class="panel scores">
            <div class="score">
                <h1>Player</h1>
                <div class="life-bar">
                    <div class="life " :class="{danger: playerLife < 20}" :style="{width: playerLife + '%'}"></div>
                </div>
                <div>{{ playerLife }} %</div>
            </div>
            <div class="score">
                <h1>Monster</h1>
                <div class="life-bar">
                    <div class="life " :class="{danger: monsterlife < 20}" :style="{width: monsterlife + '%'}"></div>
                </div>
                <div>{{ monsterlife }} %</div>
            </div>
        </div>
        <div v-if="hasResult" class="panel result">
            <div v-if="monsterlife == 0" class="won">You Won!!! :) </div>
            <div v-if="playerLife == 0" class="lose">You Lose! :( </div>
        </div>
        <div class="panel buttons">
            <button class="btn attack">Attack</button>
            <button class="btn especial-attack">Especial Attack</button>
            <button class="btn heal">Heal</button>
            <button class="btn give-up">Give Up</button>
            <button class="btn new-game">New Game</button>
        </div>
        <div class="panel logs"></div>

    </div>
    <script src="app.js"></script>
</body>

</html>