<script src="https://unpkg.com/vue"></script>
<script src="app.js"></script>

<div id="challenge05">
  <!-- 1) Turn on the button to alter the exhibition for two
    paragraphs. Use both v-if and v-show and inspect the elements
    to see the difference.-->

  <h2>#01</h2>
  <div>
    <button @click="expression = !expression">Alternate</button>
    <p v-if="expression"> You want to see me ...</p>
    <p v-else>...or I</p>
    <p v-show="expression"> You want to see me...</p>
    <p v-show="!expression">...or I</p>
  </div>

  <!-- 2) 
     Show in a <ul> an array the elements for your choose.
       Print also the index each other element.
  -->
  <h2>#02</h2>
  <ul>
    <li v-for="(name, i ) in names">{{ name }} -- {{ i }}</li>
  </ul>

  <!-- 3) 
    Print all value object pairs key  follow:

    {
			title: 'The lord of rings',
			author: 'J.R.R. Tolkiens',
			volume: '3'
		}
    Print  also  each  item index. -->
  <h2>#03</h2>
  <ul>
    <li v-for="(value, key, index) in book">
      {{ key }}: {{ value }} - {{ index + 1 }}</li>
  </ul>

  <!-- 4) Print the next object (only the values) and
    also create a loop for the array: 
    {
			id: 10,
			name: 'Maria',
			grades: [7.67, 8.33, 6.98, 9.21]
		}
    (tip: use v-for and v-if in the resolution ) -->
  <h2>#04</h2>
  <ul>
    <li v-for="value in student">

      <template v-if="!Array.isArray(value)">
        {{ value }}
      </template>

      <template v-else>
        Grades:
        <ul>
          <li v-for="grade in value"> {{ grade }} </li>
        </ul>
      </template>
    </li>
  </ul>
</div>

<script src="app.js"></script>