<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for='color in colors'> {{color}} </li>

    </ul>
    <hr>
    <template v-for="(color , i) in colors">
        <h1> {{color }}</h1>
        <p>{{ i}}</p>
    </template>

</div>

<script>
    new Vue({
        el: '#app',
        data: {
            colors: ['red', 'green', 'yellow', 'blue'],
            people: [
                { name: 'Ana', age: 26, weight: 59 },
                { name: 'Guilherme', age: 22, weight: 89 }
            ]
        }
    })
</script>

<style>
    ul {
        list-style: none;
    }

    h1,
    p {
        display: inline;
    }
</style>